/* descriptionIndex */

//### Create
//+++

@mixin descriptionIndex {
    .descriptionIndex {
        display: none;
        padding-top: 0.7rem;
        padding-bottom: 1rem;
        @include desktopMix{
            display: block;
        }
    }
}

//---
//### Attach
//+++

@include descriptionIndex;

//---

