/* input Card */

//### Create
//+++

@mixin inputCard {
    .inputCard {
        background-color: $uiColorPrimary;
        color: $uiFontColorPrimary;
        &.mobiInput {
            textarea {
                padding-top: 0.5rem;
                @include desktop {
                    padding: 0.6rem 1.1rem;
                }
            }
        }
    }
}

//---
//### Attach
//+++

@include inputCard;

//---

