/* input Card */

//### Create
//+++

@mixin inputCard {
    .inputCard {
        background-color: $uiColorPrimary;
        color: $uiFontColorPrimary;
        @include desktopMix{
            border-radius: $cardRadius 0 0 $cardRadius;
        }
        textarea{
            padding: 1rem 1rem;
            @include desktopMix{
                padding: 0.6rem 1.1rem;
            }
        }
    }
}

//---
//### Attach
//+++

@include inputCard;

//---

