/* output Card */

//### Create
//+++

@mixin outputCard {
    .outputCard{
        background-color: $uiColorSecondary;
        color: $uiFontColorSecondary;
        @include desktop{
             transition: font-size 300ms ease;
        }
    }
}

//---
//### Attach
//+++

@include outputCard;

//---

