/* title Long */

//### Create
//+++

@mixin titleLong {
    .titleLong {
        display: none;
        font-weight: 600;
        h1{
            font-family: $altFont;
            font-weight: 700;
        }
        @include desktopMix {
            display: block;
        }
        strong {
            margin-right: 0.1rem;
        }
    }
}

//---
//### Attach
//+++

@include titleLong;

//---

