/* card Holder */

//### Create
//+++

@mixin cardHolder-part {
    .cardHolder {
        font-size: 1.6rem;
        font-weight: 600;
        @include desktopMix{
            section{
                border-radius: $cardRadius;
                box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.07);
                transition: box-shadow 400ms ease;
            }
        }
        @include desktop {
            font-size: 2rem;
            &.deskInput{
                section{
                    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.07);
                }
            }
        }
        @include tablet {
            font-size: 2rem;
        }
        
        &[data-font='break.desktop'] {
            .outputCard {
                @include desktop {
                    font-size: 1.7rem;
                }
            }
        }
        article {
            display: flex;
            height: 50vh;
            @include desktop {
                height: px(400);
            }
        }
        textarea {
            padding: 1.5rem 1rem;
            display: flex;
            margin: 0;
            border: 0;
            width: 100%;
            resize: none;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            color: inherit;
            background-color: transparent;
            @include desktopMix{
                padding: 0.6rem 1.1rem;
            }
        }
    }
}

//---
//### Attach
//+++

@include cardHolder-part;

//---

