/* header */

//### Create
//+++

@mixin header-part {
    header {
        position: fixed;
        top: calc(50vh - 1.5rem);
        right: 0;
        width: 100vw;
        z-index: 100;
        transition: right 100ms;
        @include desktopMix{
            position: static;
            height: initial;
            padding-top: 2rem;
            padding-bottom: 2rem;
            background-color: initial;
        }
        &.hide{
            display: none;
            @include desktopMix{
                display: initial;
            }
        }
    }
}

//---
//### Attach
//+++

@include header-part;

//---

