/* Main */

//### Create
//+++

@mixin main-part {
    #wrapper {
        background-color: $baseColor;
        position: relative;
    }
    main{
    }
    ::-webkit-input-placeholder {
        color: inherit;
    }
    :-moz-placeholder {
        color: inherit;
    }
    ::-moz-placeholder {
        color: inherit;
    }
    :-ms-input-placeholder {
        color: inherit;
    }
}

//---
//### Attach
//+++

@include main-part;

//---