:root {
  --color-light-1: aliceblue;

  --color-dark-1: #18247f;
  --color-dark-2: #0d1fab;

  --color-vibrant-1: #c6ed4f;
  --color-vibrant-1-dark: #b8dc49;
  --color-vibrant-1-light: #aeed4f;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--color-light-1);
  color: var(--color-dark-2);
}

h1,
h2 {
  margin: 0;
  padding-bottom: 1rem;
  text-align: center;
}

h2 {
  font-weight: normal;
}

.app {
  padding: 16px;
}

@media (min-width: 1250px) {
  h1 {
    font-size: 3rem;
  }
}